In [1]:
import xgboost

In [2]:
import pandas as pd

In [3]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset=dataset.astype(int)

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age  bmi  children  sex_male  smoker_yes
0      19   27         0         0           1
1      18   33         1         1           0
2      28   33         3         1           0
3      33   22         0         1           0
4      32   28         0         1           0
...   ...  ...       ...       ...         ...
1333   50   30         3         1           0
1334   18   31         0         0           0
1335   18   36         0         0           0
1336   21   25         0         0           0
1337   61   29         0         0           1

[1338 rows x 5 columns]

In [8]:
dependent=dataset[['charges']]
dependent

      charges
0       16884
1        1725
2        4449
3       21984
4        3866
...       ...
1333    10600
1334     2205
1335     1629
1336     2007
1337    29141

[1338 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.3,random_state=0)

In [13]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [15]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import GradientBoostingRegressor
param_grid={'loss':['squared_error', 'absolute_error', 'huber', 'quantile'],'criterion':['friedman_mse', 'squared_error'],
           'max_features':['sqrt', 'log2']}
grid=GridSearchCV(GradientBoostingRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(X_train,Y_train)

Fitting 5 folds for each of 16 candidates, totalling 80 fits

C:\Anaconda\Lib\site-packages\sklearn\ensemble\_gb.py:424: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=GradientBoostingRegressor(), n_jobs=-1,
             param_grid={'criterion': ['friedman_mse', 'squared_error'],
                         'loss': ['squared_error', 'absolute_error', 'huber',
                                  'quantile'],
                         'max_features': ['sqrt', 'log2']},
             verbose=3)

In [16]:
re=grid.cv_results_
print("The R_score value for best parameter{}:".format(grid.best_params_))

The R_score value for best parameter{'criterion': 'squared_error', 'loss': 'squared_error', 'max_features': 'log2'}:

In [17]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_loss,param_max_features,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.082878,0.007837,0.011022,0.006232,friedman_mse,squared_error,sqrt,"{'criterion': 'friedman_mse', 'loss': 'squared...",0.879376,0.813820,0.838731,0.855352,0.806294,0.838714,0.026836,3
1,0.071083,0.004261,0.006591,0.006919,friedman_mse,squared_error,log2,"{'criterion': 'friedman_mse', 'loss': 'squared...",0.881971,0.823846,0.830737,0.853001,0.798489,0.837609,0.028185,5
2,0.279863,0.007795,0.001658,0.002298,friedman_mse,absolute_error,sqrt,"{'criterion': 'friedman_mse', 'loss': 'absolut...",0.866075,0.816256,0.818350,0.830511,0.786499,0.823538,0.025729,10
3,0.276876,0.006171,0.003850,0.002771,friedman_mse,absolute_error,log2,"{'criterion': 'friedman_mse', 'loss': 'absolut...",0.874472,0.800750,0.806188,0.826226,0.788448,0.819217,0.030198,11
4,0.355745,0.005710,0.004090,0.003370,friedman_mse,huber,sqrt,"{'criterion': 'friedman_mse', 'loss': 'huber',...",0.883228,0.818014,0.837359,0.841208,0.796405,0.835243,0.028802,8
5,0.350797,0.004777,0.001308,0.001669,friedman_mse,huber,log2,"{'criterion': 'friedman_mse', 'loss': 'huber',...",0.879360,0.822837,0.836808,0.844463,0.793124,0.835318,0.028148,7
6,0.278479,0.002767,0.003764,0.002468,friedman_mse,quantile,sqrt,"{'criterion': 'friedman_mse', 'loss': 'quantil...",0.515717,0.499155,0.508274,0.584180,0.702354,0.561936,0.076380,13
7,0.287328,0.010257,0.002616,0.002716,friedman_mse,quantile,log2,"{'criterion': 'friedman_mse', 'loss': 'quantil...",0.503817,0.533163,0.528055,0.554871,0.685856,0.561152,0.064431,14
8,0.078595,0.005347,0.001144,0.001306,squared_error,squared_error,sqrt,"{'criterion': 'squared_error', 'loss': 'square...",0.883805,0.824419,0.835023,0.846409,0.804869,0.838905,0.026289,2
9,0.076709,0.003073,0.003717,0.003437,squared_error,squared_error,log2,"{'criterion': 'squared_error', 'loss': 'square...",0.884479,0.823957,0.832912,0.853219,0.805079,0.839929,0.027130,1
10,0.285650,0.000663,0.000767,0.001534,squared_error,absolute_error,sqrt,"{'criterion': 'squared_error', 'loss': 'absolu...",0.865309,0.812015,0.808324,0.822068,0.785114,0.818566,0.026321,12
11,0.288313,0.012586,0.001840,0.001850,squared_error,absolute_error,log2,"{'criterion': 'squared_error', 'loss': 'absolu...",0.876832,0.815425,0.827705,0.821796,0.785876,0.825527,0.029411,9
12,0.469460,0.057795,0.002915,0.000501,squared_error,huber,sqrt,"{'criterion': 'squared_error', 'loss': 'huber'...",0.882635,0.821324,0.838174,0.844624,0.802381,0.837828,0.026769,4
13,0.518903,0.051059,0.001445,0.001253,squared_error,huber,log2,"{'criterion': 'squared_error', 'loss': 'huber'...",0.878846,0.825507,0.835867,0.844717,0.792586,0.835504,0.027948,6
14,0.370713,0.051449,0.002134,0.003000,squared_error,quantile,sqrt,"{'criterion': 'squared_error', 'loss': 'quanti...",0.531809,0.509682,0.545314,0.523733,0.674191,0.556946,0.059750,15
15,0.287672,0.030672,0.006526,0.008005,squared_error,quantile,log2,"{'criterion': 'squared_error', 'loss': 'quanti...",0.469080,0.494990,0.456526,0.544218,0.677256,0.528414,0.080261,16

In [18]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=float(input("Sex_Male 0 or 1:"))
smoker_yes_input=float(input("Smoker_Yes 0 or 1:"))

Age:56
BMI:42
Children:10
Sex_Male 0 or 1:1
Smoker_Yes 0 or 1:1

In [19]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[60728.43642424]